<div class="list-group" *ngIf="predictions.length > 0">
    <div class="list-group-item" *ngFor="let prediction of predictions">
        {{prediction.className}} - {{prediction.probability | percent}}
    </div>
</div>
<div *ngIf="predictions.length == 0" style="font-size: xx-large;">
    Sin predicciones aún!
</div>