<div class="cont d-flex justify-content-center align-items-center flex-column p-5">
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-primary" style="width: 400px;height: 50px;margin-bottom: 45px;"
      (click)="toggleSource()">{{showingCam ? 'Clasificar Imágenes' : 'Detectar en real time'}}</button>
  </div>
  <div class="d-flex flex-row">
    <div class="mr-5">
      <image-classifier *ngIf="!showingCam"></image-classifier>
      <video-classifier *ngIf="showingCam"></video-classifier>
    </div>
    <div>
      <predictions></predictions>
    </div>
  </div>
</div>
<ngx-spinner>
  <p style="font-size: 20px; color: white">Cargando modelos...</p>
</ngx-spinner>