<div class="custom-file" style="width: 700px;">
    <input type="file" class="custom-file-input" (change)="fileChange($event)">
    <label class="custom-file-label">Select File</label>
</div>
<img [src]="imageSrc" #img *ngIf="imageSrc" class="mt-5 mb-5 {{explicitContent ? 'blur' : ''}}"
    style="max-width: 500px;" />